<main class="main-content">
  <h2>Books in category: <%= @category.name %></h2>
  <%= render partial: 'books/elements/category_books', locals: { books: @category.books } %>
  <h2>Similar books:</h2>
    <%= render partial: 'books/elements/category_books', locals: { books: @category.similar_books } %>
  <%= link_to new_book_path, class: 'btn' do %>
    <i class="fa fa-plus-circle"></i>
    add book
  <% end %>
</main>

